/.idea/
node_modules/**
__pycache__/**
*.pkl
easyquotation/**
totalStockList.txt
browsermob-proxy-2.1.4/**
./chromedriver.**
./chromedriver**
*.pyc
*.ini

~$my.xlsx
my.xlsx
~$rateAndHeight.xlsx
rateAndHeight.xlsx
~$hello.xlsx
hello.xlsx